.blog-wrapper {
  width: 100%;

  text-align: center;
  padding: 40px 20px;
  background-color: #FFF3F3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blog-accordion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 7px 88px;
  border-radius: 12px;
}

.header-text {
  text-align: center;
}

.blog-title {
  color: #d56a6a;
  font-size: 20px;
  font-weight: 600;
}

.blog-heading {
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

.triangle {
  font-size: 28px;
  margin-left: 15px;
  transition: 0.4s ease;
}

.triangle.rotate {
  transform: rotate(180deg);
}

.small-triangle {
  font-size: 18px;
  margin-left: 8px;
}

.blog-sub {
  font-size: 16px;
  color: #5f5fa7;
  margin: 20px 0 35px 0;
}

.search-input {
  width: 320px;
  padding: 12px 15px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 40px;
  font-size: 14px;
}

/* Grid Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 28px;
  width: 80%;
  margin: auto;
}

.card {
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 18px;
  text-align: left;
}

.card-cat {
  color: #c46cd4;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.card-text {
  font-size: 14px;
  color: #555;
  margin: 12px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.author,
.date {
  color: #777;
  font-size: 14px;
}


/* ================ MOBILE RESPONSIVE ================ */

@media (max-width: 600px) {
  .blog-wrapper {
    padding: 25px 15px;
  }

  .blog-accordion-header {
    padding: 10px 20px;
  }

  .triangle {
    font-size: 22px;
    margin-left: 8px;
  }

  .blog-title {
    font-size: 18px;
  }

  .blog-heading {
    font-size: 22px;
  }

  .blog-sub {
    font-size: 14px;
    margin: 15px 0 25px 0;
  }

  .search-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 25px;
  }

  .cards {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card-img {
    height: 160px;
  }

  .card-body {
    padding: 15px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-text {
    font-size: 13px;
  }

  .author-img {
    width: 32px;
    height: 32px;
  }

  .author,
  .date {
    font-size: 12px;
  }
}
